<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <div class="context">
    <h1>Welcome to the Home</h1>

    <p>This is the home page content.</p>
    <p>Start ruby on rails.</p>
    </div>

<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            <ul>
            <h1>user data</h1>
      <% @users.each do |user| %>
        <li>
          <%= user.name %>, <%= user.email %>, <%= user.age %>
        </li>
      <% end %>
</ul>
    </div >
    <%= button_to 'push!', page1_url, method: :get, class: 'btn' %>

  </body>
</html>
